In [10]:
import numpy as np
import pandas as pd
import cv2
import PIL
import pytesseract
import spacy
import easyocr
import time

In [11]:
img_cv = cv2.imread('./invoices/107.png') 
cv2.imshow('invoice',img_cv)
cv2.waitKey(0)
cv2.destroyAllWindows()
reader = easyocr.Reader(['en'], gpu=True)
res = reader.readtext(img_cv)
print(res)

CUDA not available - defaulting to CPU. Note: This module is much faster with a GPU.

[([[48, 60], [171, 60], [171, 79], [48, 79]], '[Company Name]', 0.7434746673388266), ([[410, 52], [524, 52], [524, 82], [410, 82]], 'INVOICE', 0.9998990258941848), ([[49, 83], [119, 83], [119, 95], [49, 95]], '[Sitee; A-zress]', 0.037028751739250486), ([[49, 97], [109, 97], [109, 111], [49, 111]], '[Ctty, ST Zipd', 0.24652516628482432), ([[317, 99], [353, 99], [353, 111], [317, 111]], 'InVOICE', 0.2912754773794734), ([[448, 100], [472, 100], [472, 108], [448, 108]], 'CETE', 0.5214570760726929), ([[50, 114], [76, 114], [76, 122], [50, 122]], 'Fcone', 0.05755354337488672), ([[83, 111], [149, 111], [149, 125], [83, 125]], 'ex', 0.009592712444325371), ([[319, 111], [359, 111], [359, 125], [319, 125]], '[245]', 0.8354367032020491), ([[441, 111], [481, 111], [481, 125], [441, 125]], '512074', 0.28472678891613307), ([[49, 187], [83, 187], [83, 201], [49, 201]], 'IName]', 0.6468372299323542), ([[53, 199], [127, 199], [127, 213], [53, 213]], 'Comcary Nama]', 0.3312192083020965), ([[49, 213], [115, 213], [115, 225], [49, 225]], '[8itee; A-zte;', 0.010494626796640412), ([[49, 225], [109, 225], [109, 239], [49, 239]], '[Ctty, ST Zipd', 0.24652516628482432), ([[48, 237], [83, 237], [83, 253], [48, 253]], '[Frore]', 0.7526062886776002), ([[49, 251], [73, 251], [73, 263], [49, 263]], 'JEma', 0.1919003427028656), ([[78, 254], [116, 254], [116, 262], [78, 262]], 'Aiss ', 0.04856922810237551), ([[58, 292], [114, 292], [114, 300], [58, 300]], 'cescriptON', 0.12791753445666743), ([[484, 292], [520, 292], [520, 300], [484, 300]], 'L4ouht', 0.054770999162291514), ([[59, 321], [113, 321], [113, 333], [59, 333]], 'Senvka Fes', 0.20372340998139532), ([[491, 321], [523, 321], [523, 333], [491, 333]], 'Zoo.0d', 0.01445033872923643), ([[58, 334], [84, 334], [84, 342], [58, 342]], 'Lacor', 0.22155417789575604), ([[96, 336], [120, 336], [120, 342], [96, 342]], 'cons', 0.11145883053541183), ([[123, 333], [163, 333], [163, 345], [123, 345]], '3; 375tr', 0.27750974768052267), ([[489, 333], [523, 333], [523, 345], [489, 345]], '375.00', 0.29216986781502335), ([[59, 347], [81, 347], [81, 359], [59, 359]], 'Nem', 0.5893559395317339), ([[86, 348], [140, 348], [140, 356], [86, 356]], 'Tenaisconr;', 0.026710788263345157), ([[491, 347], [521, 347], [521, 361], [491, 361]], '(50.82}', 0.08452099830247997), ([[87, 361], [169, 361], [169, 373], [87, 373]], '25%: aferzigcolnt}', 0.056631970242272116), ([[495, 359], [523, 359], [523, 373], [495, 373]], '15', 0.2714862672822992), ([[130, 565], [263, 565], [263, 580], [130, 580]], 'Thank you forycur business', 0.32661942714504394), ([[367, 565], [413, 565], [413, 581], [367, 581]], 'TOTAL', 0.9993104876460648), ([[485, 565], [523, 565], [523, 579], [485, 579]], '551,56', 0.4168845371401176), ([[161, 629], [205, 629], [205, 641], [161, 641]], 'Ifyou rav', 0.7501955230435559), ([[228, 630], [266, 630], [266, 638], [228, 638]], 'querton', 0.12345524543996438), ([[271, 629], [343, 629], [343, 641], [271, 641]], 'about thb irvoize', 0.2803783887352092), ([[348, 632], [374, 632], [374, 638], [348, 638]], '02aee', 0.18780935181131198), ([[380, 632], [408, 632], [408, 638], [380, 638]], 'Cocta CC', 0.1582119521170929), ([[209, 643], [237, 643], [237, 655], [209, 655]], '[Nana', 0.311111628536381), ([[295, 643], [337, 643], [337, 655], [295, 655]], '@3w', 0.35478647623306303), ([[388, 708], [416, 708], [416, 714], [388, 714]], 'Te_= D', 0.039581566422444626), ([[428, 708], [472, 708], [472, 714], [428, 714]], '20.ssd', 0.00349471998327818), ([[243.3273272060037, 642.2600599266041], [268.9723873019805, 644.7666270475247], [267.6726727939963, 654.7399400733959], [242.02761269801948, 651.2333729524753]], 'Rona', 0.04548152536153793)]

In [12]:
img_easyocr = img_cv.copy()
img_pytesseract = img_cv.copy()
start_time = time.time()
reader = easyocr.Reader(['en'], gpu=True)
res = reader.readtext(img_easyocr)

print(format(time.time() - start_time))

print(res)
for (bbox, text, prob) in res: 
     # unpack the bounding box\n",
    (tl, tr, br, bl) = bbox
    tl = (int(tl[0]), int(tl[1]))
    tr = (int(tr[0]), int(tr[1]))
    br = (int(br[0]), int(br[1]))
    bl = (int(bl[0]), int(bl[1]))
    cv2.rectangle(img_cv, tl, br, (0, 255, 0), 1)
    cv2.putText(img_cv, text, (tl[0], tl[1] -10 ),
    cv2.FONT_HERSHEY_SIMPLEX, 0.2, (255, 0, 0), 1)

final_text = ""

for _, text, __ in res: # _ = bounding box, text = text and __ = confident level
    final_text += " "
    final_text += text


cv2.imshow('invoice easyocr',img_cv)
cv2.waitKey(0)
cv2.destroyAllWindows()
print(final_text)

CUDA not available - defaulting to CPU. Note: This module is much faster with a GPU.

8.856348752975464
[([[48, 60], [171, 60], [171, 79], [48, 79]], '[Company Name]', 0.7434746673388266), ([[410, 52], [524, 52], [524, 82], [410, 82]], 'INVOICE', 0.9998990258941848), ([[49, 83], [119, 83], [119, 95], [49, 95]], '[Sitee; A-zress]', 0.037028751739250486), ([[49, 97], [109, 97], [109, 111], [49, 111]], '[Ctty, ST Zipd', 0.24652516628482432), ([[317, 99], [353, 99], [353, 111], [317, 111]], 'InVOICE', 0.2912754773794734), ([[448, 100], [472, 100], [472, 108], [448, 108]], 'CETE', 0.5214570760726929), ([[50, 114], [76, 114], [76, 122], [50, 122]], 'Fcone', 0.05755354337488672), ([[83, 111], [149, 111], [149, 125], [83, 125]], 'ex', 0.009592712444325371), ([[319, 111], [359, 111], [359, 125], [319, 125]], '[245]', 0.8354367032020491), ([[441, 111], [481, 111], [481, 125], [441, 125]], '512074', 0.28472678891613307), ([[49, 187], [83, 187], [83, 201], [49, 201]], 'IName]', 0.6468372299323542), ([[53, 199], [127, 199], [127, 213], [53, 213]], 'Comcary Nama]', 0.3312192083020965), ([[49, 213], [115, 213], [115, 225], [49, 225]], '[8itee; A-zte;', 0.010494626796640412), ([[49, 225], [109, 225], [109, 239], [49, 239]], '[Ctty, ST Zipd', 0.24652516628482432), ([[48, 237], [83, 237], [83, 253], [48, 253]], '[Frore]', 0.7526062886776002), ([[49, 251], [73, 251], [73, 263], [49, 263]], 'JEma', 0.1919003427028656), ([[78, 254], [116, 254], [116, 262], [78, 262]], 'Aiss ', 0.04856922810237551), ([[58, 292], [114, 292], [114, 300], [58, 300]], 'cescriptON', 0.12791753445666743), ([[484, 292], [520, 292], [520, 300], [484, 300]], 'L4ouht', 0.054770999162291514), ([[59, 321], [113, 321], [113, 333], [59, 333]], 'Senvka Fes', 0.20372340998139532), ([[491, 321], [523, 321], [523, 333], [491, 333]], 'Zoo.0d', 0.01445033872923643), ([[58, 334], [84, 334], [84, 342], [58, 342]], 'Lacor', 0.22155417789575604), ([[96, 336], [120, 336], [120, 342], [96, 342]], 'cons', 0.11145883053541183), ([[123, 333], [163, 333], [163, 345], [123, 345]], '3; 375tr', 0.27750974768052267), ([[489, 333], [523, 333], [523, 345], [489, 345]], '375.00', 0.29216986781502335), ([[59, 347], [81, 347], [81, 359], [59, 359]], 'Nem', 0.5893559395317339), ([[86, 348], [140, 348], [140, 356], [86, 356]], 'Tenaisconr;', 0.026710788263345157), ([[491, 347], [521, 347], [521, 361], [491, 361]], '(50.82}', 0.08452099830247997), ([[87, 361], [169, 361], [169, 373], [87, 373]], '25%: aferzigcolnt}', 0.056631970242272116), ([[495, 359], [523, 359], [523, 373], [495, 373]], '15', 0.2714862672822992), ([[130, 565], [263, 565], [263, 580], [130, 580]], 'Thank you forycur business', 0.32661942714504394), ([[367, 565], [413, 565], [413, 581], [367, 581]], 'TOTAL', 0.9993104876460648), ([[485, 565], [523, 565], [523, 579], [485, 579]], '551,56', 0.4168845371401176), ([[161, 629], [205, 629], [205, 641], [161, 641]], 'Ifyou rav', 0.7501955230435559), ([[228, 630], [266, 630], [266, 638], [228, 638]], 'querton', 0.12345524543996438), ([[271, 629], [343, 629], [343, 641], [271, 641]], 'about thb irvoize', 0.2803783887352092), ([[348, 632], [374, 632], [374, 638], [348, 638]], '02aee', 0.18780935181131198), ([[380, 632], [408, 632], [408, 638], [380, 638]], 'Cocta CC', 0.1582119521170929), ([[209, 643], [237, 643], [237, 655], [209, 655]], '[Nana', 0.311111628536381), ([[295, 643], [337, 643], [337, 655], [295, 655]], '@3w', 0.35478647623306303), ([[388, 708], [416, 708], [416, 714], [388, 714]], 'Te_= D', 0.039581566422444626), ([[428, 708], [472, 708], [472, 714], [428, 714]], '20.ssd', 0.00349471998327818), ([[243.3273272060037, 642.2600599266041], [268.9723873019805, 644.7666270475247], [267.6726727939963, 654.7399400733959], [242.02761269801948, 651.2333729524753]], 'Rona', 0.04548152536153793)]
 [Company Name] INVOICE [Sitee; A-zress] [Ctty, ST Zipd InVOICE CETE Fcone ex [245] 512074 IName] Comcary Nama] [8itee; A-zte; [Ctty, ST Zipd [Frore] JEma Aiss  cescriptON L4ouht Senvka Fes Zoo.0d Lacor cons 3; 375tr 375.00 Nem Tenaisconr; (50.82} 25%: aferzigcolnt} 15 Thank you forycur business TOTAL 551,56 Ifyou rav querton about thb irvoize 02aee Cocta CC [Nana @3w Te_= D 20.ssd Rona

In [13]:
img_cv = cv2.imread('./invoices/102.jpg') 
cv2.imshow('invoice',img_pytesseract)
cv2.waitKey(0)
cv2.destroyAllWindows()
start_time = time.time()
text_cv = pytesseract.image_to_string(img_pytesseract)
print(format(time.time() - start_time))
print(text_cv)

0.6573994159698486
[Company Name] INVOICE
sree ses]
tens 2) maces TE
ree: (8) 00000 TaT aia
‘ane
{BomseeyNanel
{seen ase]
fens 2)
fpr]
{EnatAdsess]
seveeree zoom
iabor  ous a78e m0
Newche doco coon
Toast ae esccun) a8
honk you fer our bushes! TOTAL $551.58

In [14]:
print(text_cv)

[Company Name] INVOICE
sree ses]
tens 2) maces TE
ree: (8) 00000 TaT aia
‘ane
{BomseeyNanel
{seen ase]
fens 2)
fpr]
{EnatAdsess]
seveeree zoom
iabor  ous a78e m0
Newche doco coon
Toast ae esccun) a8
honk you fer our bushes! TOTAL $551.58

In [16]:
data = pytesseract.image_to_data(img_pytesseract)
dataList = list(map(lambda x: x.split('\t'),data.split('\n')))
df = pd.DataFrame(dataList[1:],columns=dataList[0])
df.dropna(inplace=True)
df

,level,page_num,block_num,par_num,line_num,word_num,left,top,width,height,conf,text
0,1,1,0,0,0,0,0,0,572,739,-1,
1,2,1,1,0,0,0,0,0,572,2,-1,
2,3,1,1,1,0,0,0,0,572,2,-1,
3,4,1,1,1,1,0,0,0,572,2,-1,
4,5,1,1,1,1,1,0,0,572,2,95.000000,
...,...,...,...,...,...,...,...,...,...,...,...,...
139,5,1,21,1,1,1,523,287,3,299,95.000000,
140,2,1,22,0,0,0,570,0,2,739,-1,
141,3,1,22,1,0,0,570,0,2,739,-1,
142,4,1,22,1,1,0,570,0,2,739,-1,
143,5,1,22,1,1,1,570,0,2,739,95.000000,

In [17]:

col_int = ['level','page_num','block_num','par_num','line_num','word_num','left','top','width','height']
df[col_int] = df[col_int].astype(object).astype(int)

image = img_cv.copy()
level = 'block'
for l,x,y,w,h,c,txt in df[['level','left','top','width','height','conf','text']].values:
#     print(l,x,y,w,h,c,txt)    
    if level == 'page':
        if l == 1:
            cv2.rectangle(image,(x,y),(x+w,y+h),(0,0,0),2)
        else:
            continue
            
    elif level == 'block':
        if l == 2:
            cv2.rectangle(image,(x,y),(x+w,y+h),(255,0,0),2)
        else:
            continue
    
    elif level == 'para':
        if l == 3:
            cv2.rectangle(image,(x,y),(x+w,y+h),(0,255,0),2)
        else:
            continue
    
    elif level == 'line':
        if l == 4:
            cv2.rectangle(image,(x,y),(x+w,y+h),(0,0,255),2)
        else:
            continue
            
    elif level == 'word':
        if l == 5:
            cv2.rectangle(image,(x,y),(x+w,y+h),(0,255,0),2)
          
        else:
            continue
            
cv2.imshow("invoice pytesseract",image)
cv2.waitKey()
cv2.destroyAllWindows()

In [18]:
df
dataList
df.info()
df.dtypes
df.dropna(inplace=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 144 entries, 0 to 143
Data columns (total 12 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   level      144 non-null    int32
 1   page_num   144 non-null    int32
 2   block_num  144 non-null    int32
 3   par_num    144 non-null    int32
 4   line_num   144 non-null    int32
 5   word_num   144 non-null    int32
 6   left       144 non-null    int32
 7   top        144 non-null    int32
 8   width      144 non-null    int32
 9   height     144 non-null    int32
 10  conf       144 non-null    object
 11  text       144 non-null    object
dtypes: int32(10), object(2)
memory usage: 9.0+ KB

In [19]:
img_cv1 = cv2.imread('./invoices/102.jpg') 

cv2.imshow('invoice',img_cv1)
cv2.waitKey(0)
cv2.destroyAllWindows

In [20]:
gray = cv2.cvtColor(img_cv1, cv2.COLOR_BGR2GRAY)
cv2.imshow('gray',gray)
cv2.waitKey(0)
cv2.destroyAllWindows

In [21]:

remove_noise = cv2.medianBlur(gray, 5)
cv2.imshow('remove_noise',remove_noise)
cv2.waitKey(0)
cv2.destroyAllWindows

In [22]:
threshold_ = cv2.threshold(remove_noise,0,255,cv2.THRESH_BINARY+cv2.THRESH_OTSU)[1]
cv2.imshow('threshold',threshold_)
cv2.waitKey(0)
cv2.destroyAllWindows
text_cv2 = pytesseract.image_to_string(threshold_)